html,body{
  background: url('../images/food-wall.jpg');
  backdrop-filter: blur(20px);
  background-repeat: repeat;
  
}
.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.principal-container{
  margin-top: 4rem;
  width: 80%;
  height: 100%;
  left: 50;
  right: 50;
  position: absolute;
  background: rgba(231, 231, 231, 0.745);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
